@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Bottom-CTA-Container {
  position: absolute;
  width: 70%;
  border-radius: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 6;
  transition: all 300ms;
}

.Bottom-CTA-Container-form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CTA-Title {
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.Bottom-CTA-Form-Container {
  width: 90%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CTA-Form-Block {
  text-align: center;
  display: flex;
  gap: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.InputBox-CTA {
  width: 100%;
  max-width: 400px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 2px;
  padding: 10px;
  border-radius: 15px;
  border: solid 1.5px rgb(40, 48, 97);
  box-sizing: border-box;
  transition: all 700ms;
}
.InputBox-CTA:focus {
  border-radius: 20px;
  border: solid 1.5px rgb(20, 247, 255);
  outline: none;
}

.Big-InputBox {
  height: 80%;
  resize: none;
  color: #fff;
  margin: 2px;
  padding: 10px;
  border-radius: 15px;
  border: solid 1.5px rgb(40, 48, 97);
  box-sizing: border-box;
  transition: all 700ms;
}
.Big-InputBox:focus {
  border-radius: 20px;
  border: solid 1.5px rgb(3, 247, 255);
  outline: none;
}

.Send-message-CTA {
  margin: 10px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  height: 40px;
  width: 30%;
  border-radius: 20px;
  background-color: rgb(75, 99, 255);
  margin: 10px;
  transition: all 400ms;
}
.Send-message-CTA:hover {
  color: #fff;
  cursor: pointer;
  background-color: rgb(0, 225, 255);
}

@media (min-width: 1500px) {
  .Bottom-CTA-Container {
    height: 20%;
  }
  .CTA-Form-Block {
    gap: 5%;
  }
  .Big-InputBox {
    height: 80%;
  }
}

@media (max-width: 900px) {
  .Bottom-CTA-Form-Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .CTA-Form-Block {
    height: 50%;
  }
}
@media (max-width: 510px) {
  .Bottom-CTA-Container {
    width: 90%;
  }
}
