.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: rgb(32, 32, 32);
}

.page-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.page-link {
    color: aliceblue;
    text-decoration: none;
}