.common-cases-container {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 50%;
    width: 95%;
    border-radius: 20px;
    border: solid 1px rgb(202, 202, 202);
}

.NHS-waiting-list {
    height: 50%;
    width: 95%;
    border-radius: 20px;
    border: solid 1px rgb(202, 202, 202);
}

.list-title {
    text-align: center;
}

.health-list {
    max-height: 350px;
    flex-wrap: wrap;
    gap: 5px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
}
.health-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 35px;
    width: 200px;
    font-weight: 700;
}
.health-list-item-nhs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 35px;
    width: 320px;
    font-weight: 700;
}

.gradient-wrap-border-blue {
    display: flex;
    align-items: center;
    border-radius: 25px;
    position: relative;
    background: linear-gradient(to right, rgb(0, 153, 255), rgb(59, 216, 255));
    padding: 0.1em;
}
.gradient-wrap-border-red {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    background: linear-gradient(to right, rgb(255, 82, 82), rgb(255, 27, 10));
    padding: 0.08em;
}