.health-list-container {
    display: flex;
    justify-content: center;
    height: 400px;
    gap: 10%;
}

.reference-pic {
    width: 350px;
    height: 350px;
}

.common-cases-container {
    margin-bottom: 100px;
    height: 100%;
    width: 95%;
    max-width: 520px;
    border-radius: 20px;
    border: solid 1px rgb(202, 202, 202);
    
}

.NHS-waiting-list {
    height: 100%;
    width: 95%;
    max-width: 520px;
    border-radius: 20px;
    border: solid 1px rgb(202, 202, 202);
}

.list-title {
    text-align: center;
}

.health-list {
    max-height: 320px;
    flex-wrap: wrap;
    gap: 5px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
}
.health-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 35px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 146, 151) 1px;
    font-weight: 700;
}
.health-list-item-nhs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 35px;
    width: 320px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(197, 0, 0) 1px;
    font-weight: 700;
}


@media (min-width: 1000px) {
    .health-list-container {
        display: flex;
        justify-content: center;
        height: 600px;
        gap: 20%;
    }
}