.pitch {
    height: 32%;
    width: 100%;
}

.pitch-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.pitch-text-main {
    margin: 0;
    margin-top: 10px;
    width: 90%;
    max-width: 415px;
    text-align: center;
    font-size: 1.9rem;
}


.pitch-image-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.pitch-image {
    width: 50%;
    max-width: 230px;
}