.service-search-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 5em;
    width: 100%;
}

.search-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    height: 40px;
    background-color: aliceblue;
    border-radius: 20px;
    transition: all 300ms;
    max-width: 470px;
}

.search-bar-active {
    border-radius: 20px 20px 0 0;
}

.search-icon {
    height: 70%;
}

.search-bar-input {
    border: none;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    width: 80%;
    height: 80%;
    background-color: aliceblue;
}

.data-search-result {
    position: absolute;
    top: 40px;
    width: 100%;
    max-height: 130px;
    border-radius: 0 0 20px 20px;
    background-color: aliceblue;
    overflow: hidden;
    overflow-y: auto;
    z-index: 5;
}

.data-search-item {
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 300px;
    height: 40px;
    background-color: aliceblue;
  }